/*個人ページのbody*/
.top_body{
  width: 100vw;
  height: 100vh;
}

/*全ページ共通ヘッダー*/
.header{
  width: 100vw;
  height: 100px;
  border-bottom: 3px solid #ea535d;
  box-sizing: border-box;
}
.header_inner{
  position: relative;
  width: 700px;
  height: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}
.header_logo{
  position: absolute;
  left: 0;
  bottom: 20px;
  width: 200px;
}
.header_heading{
  position: absolute;
  bottom: 8px;
  right: 0;
  font-size: 16px;
  font-weight: normal;
  color: #444444;
  box-sizing: border-box;
}

/*main*/
/*topページmain*/
.main{
  width: 700px;
  margin: 0 auto;
  padding-top: 20px;
  box-sizing: border-box;
}
/*個人ページ、３つのコンテンツの横並びに使用*/
.prof_main{
  display: flex;
  width: 700px;
  margin: 0 auto;
  box-sizing: border-box;
}
.top_main_text{
  font-size: 12px;
  color: #444444;
  font-weight: normal;
  margin-bottom: 20px;
  line-height: 20px;
}
.profile_images{
  width: 700px;
  display:flex;
  justify-content :space-between;
  flex-wrap:wrap;
  margin: 0 auto;
}


.profile_list_item{
  margin-bottom: 10px;
}
/*js*/
.profile_image_rina{
  width: 220px;
  box-shadow: 0 1px 5px gray;
  display: none;
}
.profile_image_tomita{
  width: 220px;
  box-shadow: 0 1px 5px gray;
  display: none;
}
.profile_image_fuku{
  width: 220px;
  box-shadow: 0 1px 5px gray;
  display: none;
}
.profile_image_izumi{
  width: 220px;
  box-shadow: 0 1px 5px gray;
  display: none;
}
.profile_image_kou{
  width: 220px;
  box-shadow: 0 1px 5px gray;
  display: none;
}
.profile_image_hana{
  width: 220px;
  box-shadow: 0 1px 5px gray;
  display: none;
}


/*フッター*/
/*トップページフッター*/
.top_footer{
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 30px;
  background: gray;
  margin-top: 20px;
  box-sizing: border-box;
}
.top_footer_copyrights{
  width: 700px;
  height: 30px;
  line-height: 40px;
  font-size: 10px;
  color: #444444;
  text-align: right;
  margin: 0 auto;
  box-sizing: border-box;
}


.profile-change {
	position: relative;
	overflow: hidden;
	width: 220px;
  margin-top:15px;
}

.profile-change:hover .mask-text {
	opacity: 1;
}

.mask-text {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	-webkit-transition: .3s;
	transition: .3s;
	opacity: 0;
  text-align: center;
  line-height: 220px;
  font-family: impact;
  font-size:50px;
}

.mask-text a {
text-decoration: none;
color:#ffffff;
opacity: 0.85;
letter-spacing:4px;
display: block;
}

/*個人ページ*/
/*個人ページフッター*/
.prof_footer{
  width: 100%;
  height: 30px;
  background: gray;
  /*margin-top: 20px;*/
  box-sizing: border-box;
}
.prof_footer_copyrights{
  width: 700px;
  height: 30px;
  line-height: 40px;
  font-size: 10px;
  color: #444444;
  text-align: right;
  margin: 0 auto;
  box-sizing: border-box;
}

/*基本プロフィール*/
.profile{
  width: 200px;
  padding: 20px;
  box-sizing: border-box;
  background: #727272;
  color: #fff;
  text-align: center;
}
.name_en{
  font-size: 12px;
  margin-top: 20px;
}
.name_ja{
  font-size: 20px;
  margin-top: 7px;
}
.birthday{
  font-size: 14px;
  margin-top: 30px;
}
.bloodType{
  font-size: 14px;
  margin-top: 15px;
}
.contact_icon{

}
.contact_icon_item{
  font-size: 20px;
  color: #fff;
  display: inline-block;
  margin: 5px;
  margin-top: 30px;
  text-decoration: none;
}

/*質問項目（？）*/
.introduce{
  width: 250px;
  padding: 10px;
  box-sizing: border-box;
  border-right: 1px solid #ea535d;
}
.introduce_contents{
  padding: 0 5px;
  height: 20px;
  line-height: 20px;
  background:  #727272;
  font-size: 10px;
  box-sizing: border-box;
  display: inline-block;
  color: #fff;
  list-style: none;
}
.introduce_item{
  font-size: 10px;
  margin: 5px 5px 8px 10px;
}

/*年表*/
.chronology{
  width: 350px;
  box-sizing: border-box;
  border-right: 1px solid #ea535d;
}
.year_wrap{
  width: 100%;
  box-sizing: border-box;
  display: flex;
}
.year_wrap:first-child{
  padding-top: 10px;
}
.year_wrap:last-child{
  padding-bottom: 10px;
}
.year_circle{
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  font-size: 12px;
  text-align: center;
  box-sizing: border-box;
  margin-left: 30px;
}
.year_circle_red{
  background: #ea535d;
  color: #fff;
}
.year_circle_normal{
  background: #727272;
  color: #fff;
}
.year_heading{
  width: 200px;
  height: 50px;
  line-height: 50px;
  margin: 0 10px;
  font-size: 12px;
  color: #444444;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.border_left{
  width: 240px;
  min-height: 50px;
  margin-left: 55px;
  border-left: 2px solid #727272;
  padding: 10px 5px 10px 15px;
  color: #727272;
  font-size: 10px;
}









/*いずみちゃんが作ったやつ*/
/* 個別ページizumi*/

.contents{
  width: 800px;
  margin: 0 auto;
}

.left-content {
  width: 250px;
  height: 800px;
  float: left;
  background-color: #727272;
}

.center-content {
  width: 280px;
  float: left;
}

.right-content {
  width: 430px;
  float: left;
}



.sns-item {
  float: left;
}


