body{
  width: 100vw;
  height: 100vh;
}

.top_header{
  width: 100vw;
  height: 100px;
  border-bottom: 3px solid #ea535d;
  display: inline-block;
}
.top_header_inner{
  position: relative;
  width: 700px;
  height: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}
.top_header_logo{
  position: absolute;
  left: 0;
  bottom: 20px;
  width: 200px;
}
.top_header_heading{
  position: absolute;
  bottom: 20px;
  right: 0;
  font-size: 16px;
  font-weight: normal;
  color: #444444;
  box-sizing: border-box;
}

.top_main{
  width: 700px;
  margin: 0 auto;
  padding-top: 20px;
  box-sizing: border-box;
}
.top_main_text{
  font-size: 12px;
  color: #444444;
  font-weight: normal;
  margin-bottom: 20px;
  line-height: 20px;
}

.profile_images{
  width: 700px;
  display:flex;
  justify-content :space-between;
  flex-wrap:wrap;
  margin: 0 auto;
}
.profile_list_item{
  margin-bottom: 10px;
}

.profile_image{
  width: 220px;
  box-shadow: 0 1px 5px gray;
}

.top_footer{
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 30px;
  background: gray;
  margin-top: 20px;
  box-sizing: border-box;
}
.top_footer_copyrights{
  width: 700px;
  height: 30px;
  line-height: 40px;
  font-size: 10px;
  color: #444444;
  text-align: right;
  margin: 0 auto;
  box-sizing: border-box;
}

.clearfix:after{
  clear: both;
  content: "";
  display: block;
}


/* 個別ページ*/

.contents{
  width: 800px;
  margin: 0 auto;
}

.left-content {
  width: 250px;
  height: 800px;
  float: left;
  background-color: #727272;
}

.center-content {
  width: 280px;
  float: left;
}

.right-content {
  width: 430px;
  float: left;
}



.sns-item {
  float: left;
}

